.phone-brands {
    list-style: none;
    padding: 0;
  }
  
  .brand {
    position: relative;
    margin-right: 8px;

    /* display: inline-block; */
    /* transition: transform 0.3s, background-color 0.3s; */
  }
  
  .brand img {
    /* vertical-align: middle; */
  }
  
  .brand:hover {
    transform: translateX(8px);
    background-color: green;
  }